.carSeats__cards {
  width: 83%;
  margin: 0 auto;

  position: relative;
  display: flex;
  flex-direction: column;
  @media screen and (max-width:600px){
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
}