
.carSeats__imgContainer{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #e9eae9;
  mix-blend-mode: darken;
  position: relative;
  right: -1px;
  bottom: -1px;

  @media screen and (max-width:1024px){
    width: calc(100% + 2px);
    mix-blend-mode: normal;
    background-color: transparent;
    left: 0;
    bottom: -1px;
  }
}