.carSeats__container {
  width: 60%;
  padding: 40px;
  box-sizing: border-box;

  @media screen and (max-width:1024px){
    width: 100%;
  }
  @media screen and (max-width:600px){
    padding: 44px 15px;
  }

}