.carSeats__title {
  @include fontValue(normal, normal, 36px, 130%);
  color: $text_attention;
  margin: 100px auto 40px;

  width: 83%;
  @media screen and (max-width:600px){
    width: 100%;
    padding: 100px 10px 40px;
    margin: 0;
    box-sizing: border-box;
  }
}