@import "./__block/description__block.scss";
@import "./__link/description__link.scss";
@import "./__text/description__text.scss";

.description {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 80px 0;

  @media screen and (max-width:768px) {
    margin: 50px 0;
    flex-direction: column;
    .description__block_first {
      width: 100%;
      margin-bottom: 50px;
      padding: 45px 0;
    }
    .description__block_second {
      width: 100%;
    }
  }
}
