@import "./_card/article__number_card.scss";

.article__number {
  @include fontValue(normal, bold, 96px, 120%);
  color: $text_color;
  opacity: 0.1;
  position: absolute;
  top: -30px;
  left: -8%;

  @media screen and (max-width:1024px){
    left: -10%;
  }
  @media screen and (max-width:768px) {
    position: static;
    margin-right: 10px;
  }
}