@import "./_mini/article__title_mini.scss";
@import "./_attention/article__title_attention.scss";

.article__title {
  @include fontValue(normal, normal, 42px, 120%);
  color: $text_color;
  margin: 0;
  margin-bottom: 20px;

  @media screen and (max-width:1024px){
    @include fontValue(normal, normal, 38px, 120%);
  }
  @media screen and (max-width:768px){
    margin-bottom: 0;
    @include fontValue(normal, normal, 35px, 120%);

  }
  @media screen and (max-width:400px){
    @include fontValue(normal, normal, 28px, 120%);
  }
}