.footer__signature{
  @include fontValue(normal, 300, 20px, 150%);
  text-align: center;
  color: $text_color;
  width: 100%;

  @media screen and (max-width: 400px){
    @include fontValue(normal, 300, 16px, 150%);
  }
}