.article__title_attention {
  @include fontValue(normal, normal, 36px, 130%);
  color: $text_attention;
  margin: 0;
  margin-bottom: 60px;

  @media screen and (max-width:600px){
    @include fontValue(normal, normal, 30px, 130%);
  }

}