.header__content {
  @include margins;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 ;

  @media screen and (max-width: 500px) {
    padding: 25px 10px ;
    .header__logo_1 {
      width: 91px;
      height: 26px;
    }
    .header__logo_2 {
      width: 143px;
      height: 26px;
    }
  }
}