.article__imgLink {
  position: absolute;
  bottom: 0;
  left: 0;

  @include fontValue(normal, bold, 24px, 120%);
  text-decoration-line: underline;
  color: $text_attention;

  padding: 25px;
  background: #272B2E;
  border-radius: 0px 10px;

}