.article__img_list {
  position: absolute;
  bottom: 5%;
  right: -5%;
  @media screen and (max-width:1440px){
    right: -70px;
  }
  @media screen and (max-width:1200px){
    right: -30px;
  }
  @media screen and (max-width:768px){
    position: static;
    width: 100%;
    img {
      width: 100%;
      height: auto;
      max-width: 430px;
    }
  }
}