@import "./_link/article__conclusion_link.scss";
@import "./_bold/article__conclusion_bold.scss";

.article__conclusion {
  @include fontValue(normal, 300, 36px, 120%);
  color: $text_attention;
  margin: 0;
  padding-left: 46px;
  box-sizing: border-box;

  border-left: 4px solid $border_attention;

  @media screen and (max-width:768px) {
    border: 0;
    padding-left: 0;
  }
  @media screen and (max-width:600px) {
    @include fontValue(normal, 300, 30px, 120%);
  }
}