.trips__back {
  position: absolute;
  z-index: 1;
  object-position: 50% 50%
}
.trips__back_1 {
  left: -200px;
  top: -320px;
}
.trips__back_2 {
  top: -240px;
  right: -100px;
}
.trips__back_3 {
  top: -900px;
  left: -100px;
}
.trips__back_4 {
  top: -380px;
  right: -180px;
}