<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Хайп / Recaro</title>
</head>
<body>
  <header class="header">
    <div class="header__content">
      <img src="<%= require('./images/logo_hyip.svg')%>" width="100px" height="29px" alt="логотип хайп">
      <img src="<%= require('./images/logo_recaro.svg')%>" width="160px" height="29px" alt="логотип Recaro">
    </div>
  </header>

  <div class="main">
    <!-- PREVIEW START -->
    <section class="preview">
      <h1 class="preview__title">Как отправиться<br>в автопутешествие с ребенком? </h1>
      <p class="preview__subtitle">Памятка, которая сохранит ваши нервные клетки</p>

      <picture class="preview__img">
        <source srcset="<%= require('./images/background/back_family.png?{ format: \'webp\'}')%>" type="image/webp">
        <img src="<%= require('./images/background/back_family.png?{ format: \'png\'}')%>" alt="" type="image/png">
      </picture>
    </section>
    <!-- PREVIEW END -->

    <!-- DESCRIPTION START -->
    <section class="description">
      <div class="description__block_first">
        <p class="description__text">
          Поездка на собственном автомобиле в другой город или страну – самое настоящее путешествие, которое стоит совершить хотя бы раз в жизни.
        </p>
      </div>
      <div class="description__block_second">
        <p class="description__text_second">
          В памяти навсегда останутся сменяющиеся пейзажи за окном, душевные остановки
          в придорожных кафе и отелях, веселое караоке
          в машине под любимые песни и яркие впечатления от интересных мест.
        </p>
        <p class="description__text_second">
          Автопутешествие с ребенком – двойное приключение, к которому готовы не каждые родители. Вместе с брендом автокресел <a class="description__link" href="https://www.recarokidsrussia.ru/?utm_source=hype&utm_medium=article&utm_campaign=hypetech">RECARO</a>
          мы подготовили памятку, которая сделает вашу поездку легкой и запоминающейся.
        </p>

      </div>
    </section>
    <!-- DESCRIPTION END -->

    <!-- tableOfContents добавь плавный переход по ссылкам -->
    <section class="tableOfContents">
      <ul class="tableOfContents_list">
        <li class="tableOfContents_link"><a href="#">Как подготовить ребенка к поездке?</a></li>
        <li class="tableOfContents_link"><a href="#">Как подготовить автомобиль?</a></li>
        <li class="tableOfContents_link"><a href="#">Как выбрать автокресло?</a></li>
        <li class="tableOfContents_link"><a href="#">Квиз: как выбрать идеальное автокресло</a></li>
        <li class="tableOfContents_link"><a href="#">Как спланировать маршрут?</a></li>
        <li class="tableOfContents_link"><a href="#">Что взять с собой?</a></li>
        <li class="tableOfContents_link"><a href="#">Чем развлечь ребенка в дороге?</a></li>
        <li class="tableOfContents_link"><a href="#">Куда поехать?</a></li>
      </ul>
    </section>
    <!-- tableOfContents добавь плавный переход по ссылкам -->

    <!-- ARTICLE START -->
    <article class="article">
      <span class="article__number">1</span>
      <h2 class="article__title">Как подготовить ребенка к поездке?</h2>
      <p class="article__text">С детьми до 6 месяцев путешествовать на автомобиле проще всего – почти всю дорогу они спят, едят и снова спят. Зато с детьми от полугода до двух-трех лет не заскучаешь.
        В этом возрасте они становятся гиперактивными: пытаются выбраться из автокресла, хотят ползать по салону и играть, быстро устают и капризничают, что иногда осложняет поездку. Особенно тяжело может быть в том случае, если ребенок не привык
        к автомобилю.</p>
      <div class="article__attention">
        <p class="article__conclusion">
          При планировании длительного путешествия на автомобиле стоит заранее проверить, как ваш ребенок выдерживает продолжительные поездки.
        </p>
      </div>
      <p class="article__text article__text_middle">Если вы не часто берете его с собой в поездки по городу, есть вероятность, что он не сможет просидеть в машине больше 30 минут – в этом случае поездка может быть испорчена с самого начала. Поэтому перед путешествием попробуйте приучить ребенка к автомобилю и покатайтесь вместе с ним по городу или пригороду, постепенно увеличивая длительность поездки. Это поможет понять поведение ребенка в автомобиле, приучит его к поездкам и автокреслу.</p>

      <picture class="article__img">
        <source srcset="<%= require('./images/articles/photo_1.jpg?{ format: \'webp\'}')%>" type="image/webp">
        <img src="<%= require('./images/articles/photo_1.jpg?{ format: \'jpg\'}')%>" alt="ребенок в автокресле" type="image/jpg">

        <a href="https://www.recarokidsrussia.ru/monza-nova-is.html?utm_source=hype&utm_medium=article&utm_campaign=hypetech" class="article__imgLink"> Monza Nova IS  </a>
      </picture>

      <button class="article__button">
        <a href="#">Подобрать автокресло</a>
      </button>

    </article>
    <!-- ARTICLE END -->

    <!-- ARTICLE START -->
    <article class="article">
      <span class="article__number">2</span>
      <h2 class="article__title">Как подготовить автомобиль?</h2>
      <p class="article__text">Приберитесь в автомобиле перед поездкой: пропылесосьте, протрите все поверхности, выбросьте мусор и избавьтесь от ненужных вещей в салоне, чтобы освободить место для багажа. Заднее сиденье и пол под ногами ребенка можно накрыть одноразовыми пеленками или старыми простынями – во время остановки вы сможете быстро вытряхнуть все крошки и будете меньше переживать из-за мусора. </p>
      <div class="article__attention">
        <p class="article__conclusion">
          Обязательно проверьте блокировку дверей и стекол на задних сиденьях, чтобы ребенок не смог их открыть в пути.
        </p>
      </div>
      <p class="article__text article__text_middle">На всякий случай уберите из салона автомобиля ароматизаторы на время поездки. Детей часто укачивает в машине, а триггером тошноты становится не только сама поездка, но и раздражающие запахи.
        <br>
        <br>
        Чтобы облегчить поездку, повесьте органайзер на пассажирское сиденье, перед которым сидит ребенок. В него можно положить игрушки, снеки, воду и книжки
        – так ребенок сможет сам дотянуться до нужного предмета и не будет отвлекать вас каждые пять минут. На задние окна также можно повесить шторку, которая защитит малыша от солнца и перегрева.</p>

      <picture class="article__img">
        <source srcset="<%= require('./images/articles/photo_2.jpg?{ format: \'webp\'}')%>" type="image/webp">
        <img src="<%= require('./images/articles/photo_2.jpg?{ format: \'jpg\'}')%>" alt="отец с сыном в машине" type="image/jpg">
      </picture>

    </article>
    <!-- ARTICLE END -->

    <!-- ARTICLE START -->
    <article class="article">
      <span class="article__number">3</span>
      <h2 class="article__title">Как выбрать автокресло?</h2>
      <p class="article__text">Порой родители пренебрегают законом и пытаются обойтись без детского автокресла во время поездки. Однако не стоит надеяться на удачу, когда речь заходит
        о безопасности ребенка – автокресло необходимо использовать всегда. Не важно, предстоит ли вам долгое путешествие на другой конец страны или же пятиминутная поездка от дома до магазина. </p>
      <div class="article__attention">
        <p class="article__conclusion">
          По <a href="https://www.who.int/roadsafety/projects/manuals/seatbelt/seat_belt_manual_module_1.pdf" class="article__conclusion_link">данным</a> ВОЗ, автокресла снижают вероятность смерти младенцев во время аварии <span class="article__conclusion_bold">на 70%</span>, а для детей от года до четырех лет – <span class="article__conclusion_bold">на 54%</span>.
        </p>
      </div>
      <p class="article__text article__text_middle">Поэтому главная задача родителей перед путешествием – выбрать качественное автокресло, которое не только обеспечит ребенку безопасность, но и сделает поездку комфортной.</p>

      <h3 class="article__subtitle">
        В первую очередь автокресло должно соответствовать стандартам безопасности
      </h3>
      <p class="article__text article__text_marginSmall">
        На данный момент в Европе действуют два стандарта – ECE R44 и UN R129 (i-Size), который считается более современным. Стандарт i-Size отличается от ECE R44 по нескольким параметрам:
      </p>

      <div class="article__cards">
        <div class="article__card">
          <p class="article__text_card">
            Детей до 15 месяцев нужно перевозить в автомобиле только против хода движения. Это снижает вероятность травм шеи и головы при возможной аварии.
          </p>
          <p class="article__number_card">1</p>
        </div>
        <div class="article__card">
          <p class="article__text_card">
            Во время краш-тестов должны имитироваться лобовые и боковые столкновения, когда в стандарте ECE R44 имитируется только лобовое.
          </p>
          <p class="article__number_card">2</p>
        </div>
        <div class="article__card">
          <p class="article__text_card">
            Автокресла должны оснащаться креплениями IsoFix, которые вставляются в металлические скобы на заднем сидении автомобиля. Крепления IsoFix делают установку кресла максимально простой, в отличие от фиксации кресла обычными автомобильными ремнями,
            в которой родители часто путаются.
          </p>
          <p class="article__number_card">3</p>
        </div>
        <div class="article__card">
          <p class="article__text_card">
            Согласно стандарту i-Size, автокресло нужно подбирать с учетом роста ребенка.
          </p>
          <p class="article__number_card">4</p>
        </div>

      </div>

    </article>
    <!-- ARTICLE END -->

    <!-- CARSEATS START добавь ссылку на кресла-->
    <section class="carSeats">

      <h2 class="carSeats__title">В стандарте i-Size автокресла делятся на группы:</h2>

      <div class="carSeats__cards">

        <div class="carSeats__card">
          <div class="carSeats__container">
            <p class="carSeats__group">Группа 0/0+</p>
            <p class="carSeats__subtitle">
              <img src="<%= require('./images/baby_icon.svg')%>" width="23px" height="21px" alt="иконка ребенка">
              С рождения до 80 см
            </p>
            <p class="carSeats__text">
              Кресла этой группы устанавливаются против хода движения. Такой метод установки повышает уровень безопасности при возможной аварии или резком торможении и снижает вероятность сильной нагрузки на шею и позвоночник ребенка. Группу 0/0+ можно использовать с рождения и приблизительно
              до 15 месяцев.
            </p>
          </div>
          <div class="carSeats__imgContainer">
            <picture class="carSeats__img">
              <source srcset="<%= require('./images/carSeats/carSeats_1.jpg?{ format: \'webp\'}')%>" type="image/webp">
              <img src="<%= require('./images/carSeats/carSeats_1.jpg?{ format: \'jpg\'}')%>" alt="автокресло Avan" type="image/png">
            </picture>

            <div class="carSeats__signature">
              <p class="carSeats__name">Avan</p>
              <p class="carSeats__description">для детей с рождения и приблизительно до 15 месяцев</p>
            </div>
          </div>
        </div>

        <div class="carSeats__card">
          <div class="carSeats__container">
            <p class="carSeats__group">Группа 0+/1</p>
            <p class="carSeats__subtitle">
              <img src="<%= require('./images/baby_icon.svg')%>" width="23px" height="21px" alt="иконка ребенка">
              С рождения до 105 см
            </p>
            <p class="carSeats__text">
              Как и в группе 0/0+ автокресло устанавливается против хода движения,
              но затем, по мере взросления ребенка, разворачивается. Такие автокресла могут использоваться с рождения до достижения роста 105 см (примерно до четырех лет).
            </p>
          </div>
          <div class="carSeats__imgContainer">
            <picture class="carSeats__img">
              <source srcset="<%= require('./images/carSeats/carSeats_2.jpg?{ format: \'webp\'}')%>" type="image/webp">
              <img src="<%= require('./images/carSeats/carSeats_2.jpg?{ format: \'jpg\'}')%>" alt="автокресло Salia Elite" type="image/png">
            </picture>

            <div class="carSeats__signature">
              <p class="carSeats__name">Salia Elite</p>
              <p class="carSeats__description">для детей с рождения до 15 месяцев</p>
            </div>
          </div>
        </div>

        <div class="carSeats__card">
          <div class="carSeats__container">
            <p class="carSeats__group">Группа 1</p>
            <p class="carSeats__subtitle">
              <img src="<%= require('./images/baby_icon.svg')%>" width="23px" height="21px" alt="иконка ребенка">
              От 70 до 105 см
            </p>
            <p class="carSeats__text">
              Автокресла устанавливаются против хода движения и разворачиваются после того, как ребенку исполнится 15 месяцев. Можно использовать примерно до четырех лет.
            </p>
          </div>
          <div class="carSeats__imgContainer">
            <picture class="carSeats__img">
              <source srcset="<%= require('./images/carSeats/carSeats_3.jpg?{ format: \'webp\'}')%>" type="image/webp">
              <img src="<%= require('./images/carSeats/carSeats_3.jpg?{ format: \'jpg\'}')%>" alt="автокресло Kio" type="image/png">
            </picture>

            <div class="carSeats__signature">
              <p class="carSeats__name">Kio</p>
              <p class="carSeats__description">для детей с девяти месяцев до четырех лет </p>
            </div>
          </div>
        </div>

        <div class="carSeats__card">
          <div class="carSeats__container">
            <p class="carSeats__group">Группа 2/3</p>
            <p class="carSeats__subtitle">
              <img src="<%= require('./images/baby_icon.svg')%>" width="23px" height="21px" alt="иконка ребенка">
              От 105 до 150 см
            </p>
            <p class="carSeats__text">
              Данная группа автокресел предназначена для детей от 3,5 до 12 лет, устанавливается по ходу движения.
            </p>
          </div>
          <div class="carSeats__imgContainer">
            <picture class="carSeats__img">
              <source srcset="<%= require('./images/carSeats/carSeats_4.jpg?{ format: \'webp\'}')%>" type="image/webp">
              <img src="<%= require('./images/carSeats/carSeats_4.jpg?{ format: \'jpg\'}')%>" alt="автокресло Mako Elite" type="image/png">
            </picture>

            <div class="carSeats__signature">
              <p class="carSeats__name">Mako Elite</p>
              <p class="carSeats__description">для детей с трех до двенадцати лет</p>
            </div>
          </div>
        </div>

        <div class="carSeats__card">
          <div class="carSeats__container">
            <p class="carSeats__group">Группа 1/2/3</p>
            <p class="carSeats__subtitle">
              <img src="<%= require('./images/baby_icon.svg')%>" width="23px" height="21px" alt="иконка ребенка">
              От 70 до 150 см
            </p>
            <p class="carSeats__text">
              Универсальная группа автокресел, которая подходит для детей от 9 месяцев до 12 лет. Устанавливается по ходу движения. По мере взросления ребенка подголовник регулируется, поэтому кресло «растет» вместе с ребенком.
            </p>
          </div>
          <div class="carSeats__imgContainer">
            <picture class="carSeats__img">
              <source srcset="<%= require('./images/carSeats/carSeats_5.jpg?{ format: \'webp\'}')%>" type="image/webp">
              <img src="<%= require('./images/carSeats/carSeats_5.jpg?{ format: \'jpg\'}')%>" alt="автокресло Monza Nova IS" type="image/png">
            </picture>

            <div class="carSeats__signature">
              <p class="carSeats__name">Monza Nova IS</p>
              <p class="carSeats__description">для детей с девяти месяцев до двенадцати лет</p>
            </div>
          </div>
        </div>

        <button class="article__button article__button_carSeats">
          <a href="https://www.recarokidsrussia.ru/child-seats.html?utm_source=hype&utm_medium=article&utm_campaign=hypetech">Подобрать автокресло</a>
        </button>

      </div>


    </section>
    <!-- CARSEATS END -->


  </div>

</body>
</html>