<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Хайп / Recaro</title>
</head>
<body>
  <header class="header">
    <div class="header__content">
      <img src="<%= require('./images/logo_hyip.svg')%>" width="100px" height="29px" alt="логотип хайп">
      <img src="<%= require('./images/logo_recaro.svg')%>" width="160px" height="29px" alt="логотип Recaro">
    </div>
  </header>
  <div class="main">

    <!-- PREVIEW START -->
    <section class="preview">
      <h1 class="preview__title">Как отправиться<br>в автопутешествие с ребенком? </h1>
      <p class="preview__subtitle">Памятка, которая сохранит ваши нервные клетки</p>

      <picture class="preview__img">
        <source srcset="<%= require('./images/background/back_family.png?{ format: \'webp\'}')%>" type="image/webp">
        <img src="<%= require('./images/background/back_family.png?{ format: \'png\'}')%>" alt="" type="image/png">
      </picture>
    </section>
    <!-- PREVIEW END -->

    <section class="description">
      <div class="description__block_first">
        <p class="description__text">
          Поездка на собственном автомобиле в другой город или страну – самое настоящее путешествие, которое стоит совершить хотя бы раз в жизни.
        </p>
      </div>
      <div class="description__block_second">
        <p class="description__text_second">
          В памяти навсегда останутся сменяющиеся пейзажи за окном, душевные остановки
          в придорожных кафе и отелях, веселое караоке
          в машине под любимые песни и яркие впечатления от интересных мест.
        </p>
        <p class="description__text_second">
          Автопутешествие с ребенком – двойное приключение, к которому готовы не каждые родители. Вместе с брендом автокресел <a class="description__link" href="https://www.recarokidsrussia.ru/?utm_source=hype&utm_medium=article&utm_campaign=hypetech">RECARO</a>
          мы подготовили памятку, которая сделает вашу поездку легкой и запоминающейся.
        </p>

      </div>
    </section>

  </div>

</body>
</html>