<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Хайп / Recaro</title>
</head>
<body>
  <header class="header">
    <div class="header__content">
      <img src="<%= require('./images/logo_hyip.svg')%>" width="100px" height="29px" alt="логотип хайп">
      <img src="<%= require('./images/logo_recaro.svg')%>" width="160px" height="29px" alt="логотип Recaro">
    </div>
  </header>
  <div class="main">
    <section class="preview">
      <h1 class="preview__title">Как отправиться<br>в автопутешествие с ребенком? </h1>
      <p class="preview__subtitle">Памятка, которая сохранит ваши нервные клетки</p>

      <picture class="preview__img">
        <source srcset="<%= require('./images/background/back_family.png?{ format: \'webp\'}')%>" type="image/webp">
        <img src="<%= require('./images/background/back_family.png?{ format: \'png\'}')%>" alt="" type="image/png">
      </picture>


    </section>


  </div>

</body>
</html>