@import url("./vendor/font/roboto/roboto.css");
@import url("./vendor/normalize.css");
@import "./vendor/variables.scss";

@import "./blocks/header/header.scss";
@import "./blocks/preview/preview.scss";
@import "./blocks/description/description.scss";
@import "./blocks/tableOfContents/tableOfContents.scss";
@import "./blocks/article/article.scss";
@import "./blocks/carSeats/carSeats.scss";

.main{
  @include margins;

  display: flex;
  flex-direction: column;
  border: 1px solid red;
  box-sizing: border-box;

  margin-bottom: 2000px;

}

