@import url("./vendor/font/roboto/roboto.css");
@import url("./vendor/normalize.css");
@import "./vendor/variables.scss";

@import "./blocks/header/header.scss";
@import "./blocks/preview/preview.scss";
@import "./blocks/description/description.scss";
@import "./blocks/tableOfContents/tableOfContents.scss";
@import "./blocks/article/article.scss";
@import "./blocks/carSeats/carSeats.scss";
@import "./blocks/trips/trips.scss";
@import "./blocks/footer/footer.scss";

.main{
  @include margins;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.main_first {
  padding-bottom: 130px;
  @media screen and (max-width:768px){
    padding-bottom: 100px;
  }
}

.main_second {
  margin-bottom: 500px; // удали потом
}
