@import "./_second/article__subtitle_second.scss";

.article__subtitle {
  @include fontValue(normal, normal, 36px, 130%);
  color: $text_color;
  margin: 0;
  margin-bottom: 20px;
  @media screen and (max-width:600px){
    margin-bottom: 0;
    @include fontValue(normal, normal, 30px, 120%);
    margin-bottom: 30px;
  }
  @media screen and (max-width:400px){
    margin-bottom: 0;
    @include fontValue(normal, normal, 28px, 120%);
    margin-bottom: 30px;
  }
}